.Navigation {
    background: var(--bg-color);
    width: 100px;
    height: 100vh;
    box-shadow: 0 0 20px 1px var(--bg-color);
    z-index: 9999;  
}

.avatar {
    width: 100%;
    border-radius: 50%;
    position: relative;
}

.active {
    width: 18px;
    height: 18px;
    background: rgb(17, 255, 17);
    border-radius: 50%;
    border: 3px solid var(--bg-color);
    position: absolute;
    top: 85px;
    left: 57px;
}

li {
    padding: 22px 0;
}

i {
    font-size: 50px;
    color: var(--text-color);
}

ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 23px;
}